@import url(https://fonts.googleapis.com/css?family=Poppins);


*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.bckg
{
    background-image: url("https://images.unsplash.com/photo-1510519138101-570d1dca3d66?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvbXB1dGVyJTIwcm9vbXxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo
{
   color: white !important;
   font-weight: 1000;
   text-decoration: none;
   font-size: 1.3em;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.navy
{
    color: #2e00b0;
}

.white
{
    color: white !important;
    text-decoration: none;
}

mark
{
    padding-inline: 1.5em;
    font-size: 30pt;
    font-weight: bold;
    color: white;
    border-radius: 20px;
}

body
{
    background-image: url("https://videohive.img.customer.envatousercontent.com/files/229501069/Preview_Image_Di.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=9d60d3dfa35cee5db662c381e886696f");
    background-repeat: none;
    background-size: cover;
}

h2
{
    color: white;
    padding-top: 10px;
    font-weight: 1000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 1px;
}


.title
{
    font-family: cursive;
    padding-top: 10px;
    font-weight: 1000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10rem;
    letter-spacing: 2px;
}


h3
{
    font-weight: 700;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
}


.h1
{
    font-size: 5rem;
    font-weight: bold;
    background-color: white;
    color: navy;
}

.margin
{
    margin-inline: 7em;
}

nav>div>div>ul>li:hover
{
    background-color: blue;
    border-radius: 20px;
    padding-inline: 10px;
}

@media only screen and (max-width: 600px)
{
    mark
    {
        font-size: 20pt;
    }
}

