{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <br>
    <br>

    <div>
        <h1 style="color:white;font-size: 5vw;">SMART5🤓</h1>
        <h3 style="color:white;font-size: 2vw;">Everything you need. All in one place.</h3>
        <br><br><br>

       <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
{% endblock %}
